<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dashboard</title>

        <%- include('../partials/css.ejs') %>

    </head>

    <body class="layout-default">

        <div class="preloader"></div>

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <%- include('../partials/header-up.ejs') %>

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content">

                <div class="mdk-drawer-layout js-mdk-drawer-layout"
                     data-push
                     data-responsive-width="992px">
                    <div class="mdk-drawer-layout__content page">

                        <div class="container-fluid page__heading-container">
                            <div class="page__heading d-flex align-items-end">
                                <div class="flex">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active"
                                                aria-current="page">Dashboard</li>
                                        </ol>
                                    </nav>
                                    <h1 class="m-0">Dashboard</h1>
                                </div>
                                <div class="flatpickr-wrapper ml-3">
                                    <div id="recent_orders_date"
                                         data-toggle="flatpickr"
                                         data-flatpickr-wrap="true"
                                         data-flatpickr-mode="range"
                                         data-flatpickr-alt-format="d/m/Y"
                                         data-flatpickr-date-format="d/m/Y">
                                        <a href="javascript:void(0)"
                                           class="link-date"
                                           data-toggle>13/03/2018 to 20/03/2018</a>
                                        <input class="flatpickr-hidden-input"
                                               type="hidden"
                                               value="13/03/2018 to 20/03/2018"
                                               data-input>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid page__container">

                            <div class="row card-group-row">
                                <div class="col-lg-12 col-md-12 card-group-row__col">
                                    <div class="col-lg-12">
                                        <div class = "row">
                                            
                                            <div class="col-lg-11 search-form search-form--light m-8">
                                                <input type="text"
                                                       class="form-control search"
                                                       placeholder="Search">
                                                <button class="btn"
                                                        type="button"><i class="material-icons">search</i></button>
                                            </div>

                                            <div class="col-lg-1 ">
                                                <a href="users/add" class="btn btn-primary">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="table-responsive border-bottom"
                                             data-toggle="lists"
                                             data-lists-values='["js-lists-values-employee-name"]'>
                                            <table class="table mb-0 thead-border-top-0">
                                                <thead>
                                                    <tr>

                                                        <th style="width: 20%;">Employee</th>

                                                        <th style="width: 20%;">Status</th>
                                                        <th style="width: 20%;">Last Activity</th>
                                                        <th style="width: 10%;">Earnings</th>
                                                        <th style="width: 10%;">Actions</th>

                                                    </tr>
                                                </thead>
                                                <% if (users.length > 0) { %>
                                                <tbody class="list"
                                                       id="staff02">
                                                       <% for (let user of users) { %>
                                                    <tr>

                                                        <td>
                                                            <span class="js-lists-values-employee-name"><%= user.name %></span>
                                                        </td>

                                                        <td><span class="badge "><%= user.email %></span></td>
                                                        <td><small class="text-muted">3 days ago</small></td>
                                                        <td>&dollar;12,402</td>
                                                        <td><a href="users/profile/<%= user.id %>"><i class="fa fa-ellipsis-v"></i></a></td>
                                                    </tr>
                                                        <% } %>

                                                </tbody>
                                                <% } %>
                                            </table>
                                            
                                            
                                        </div>

                                    </div>
                                </div>
                                
                            </div>


                        </div>

                    </div>
                    <!-- // END drawer-layout__content -->

                    <%- include('../partials/header-left.ejs') %>

                </div>
                <!-- // END drawer-layout -->

            </div>
            <!-- // END header-layout__content -->

        </div>
        <!-- // END header-layout -->



        <%- include('../partials/js.ejs') %>


    </body>

</html>